[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
]

[advisories]
ignore = [
    # Blocked on selectors update
    "RUSTSEC-2025-0057",
]

[licenses]
confidence-threshold = 0.93
private = { ignore = true }
allow = [ 
    "Apache-2.0", 
    "MIT", 
    "Unicode-DFS-2016", 
    "BSD-3-Clause", 
    "MPL-2.0", 
    "ISC", 
    "OpenSSL", 
    "Zlib", 
    "Unicode-3.0", 
    "CDLA-Permissive-2.0",
]
exceptions = []

[[licenses.clarify]]
name = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[[licenses.clarify]]
name = "webpki"
expression = "ISC"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]

[[licenses.clarify]]
name = "rustls-webpki"
expression = "ISC"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]

[bans]
multiple-versions = "warn"
highlight = "all"
skip = [
    { name = "bitflags", version = "1.3.2" },
    { name = "windows-sys", version = "0.52.0" },
    { name = "thiserror-impl", version = "1.0.69" },
    { name = "thiserror", version = "1.0.69" },
    { name = "windows_x86_64_msvc", version = "0.52.6" },
    { name = "windows_x86_64_gnu", version = "0.52.6" },
    { name = "windows-targets", version = "0.52.6" },
    { name = "windows-sys", version = "0.59.0" },
    { name = "windows-sys", version = "0.60.2" },
    { name = "rand_core", version = "0.6.4" },
    { name = "rand", version = "0.8.5" },
    { name = "getrandom", version = "0.2.16" },
]
deny = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = [ "https://github.com/rust-lang/crates.io-index" ]
allow-git = [
    "https://github.com/wez/libssh-rs",
]

[sources.allow-org] 
github = [ "adumbidiot", "ThatAnnoyingKid", "nathaniel-daniel" ]
